<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="War3Macro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <War3Macro.Properties.Settings>
            <setting name="F5Line1" serializeAs="String">
                <value />
            </setting>
            <setting name="F5Line2" serializeAs="String">
                <value />
            </setting>
            <setting name="F5Line3" serializeAs="String">
                <value />
            </setting>
            <setting name="F5Line4" serializeAs="String">
                <value />
            </setting>
            <setting name="F5Line5" serializeAs="String">
                <value />
            </setting>
            <setting name="F5Line6" serializeAs="String">
                <value />
            </setting>
            <setting name="F5Line7" serializeAs="String">
                <value />
            </setting>
            <setting name="F5Line8" serializeAs="String">
                <value />
            </setting>
            <setting name="F5Line9" serializeAs="String">
                <value />
            </setting>
            <setting name="F6Line1" serializeAs="String">
                <value />
            </setting>
            <setting name="F6Line2" serializeAs="String">
                <value />
            </setting>
            <setting name="F6Line3" serializeAs="String">
                <value />
            </setting>
            <setting name="F6Line4" serializeAs="String">
                <value />
            </setting>
            <setting name="F6Line5" serializeAs="String">
                <value />
            </setting>
            <setting name="F6Line6" serializeAs="String">
                <value />
            </setting>
            <setting name="F6Line7" serializeAs="String">
                <value />
            </setting>
            <setting name="F6Line8" serializeAs="String">
                <value />
            </setting>
            <setting name="F6Line9" serializeAs="String">
                <value />
            </setting>
            <setting name="F7Line1" serializeAs="String">
                <value />
            </setting>
            <setting name="F7Line2" serializeAs="String">
                <value />
            </setting>
            <setting name="F7Line3" serializeAs="String">
                <value />
            </setting>
            <setting name="F7Line4" serializeAs="String">
                <value />
            </setting>
            <setting name="F7Line5" serializeAs="String">
                <value />
            </setting>
            <setting name="F7Line6" serializeAs="String">
                <value />
            </setting>
            <setting name="F7Line7" serializeAs="String">
                <value />
            </setting>
            <setting name="F7Line8" serializeAs="String">
                <value />
            </setting>
            <setting name="F7Line9" serializeAs="String">
                <value />
            </setting>
            <setting name="F8Line1" serializeAs="String">
                <value />
            </setting>
            <setting name="F8Line2" serializeAs="String">
                <value />
            </setting>
            <setting name="F8Line3" serializeAs="String">
                <value />
            </setting>
            <setting name="F8Line5" serializeAs="String">
                <value />
            </setting>
            <setting name="F8Line6" serializeAs="String">
                <value />
            </setting>
            <setting name="F8Line4" serializeAs="String">
                <value />
            </setting>
            <setting name="F8Line7" serializeAs="String">
                <value />
            </setting>
            <setting name="F8Line8" serializeAs="String">
                <value />
            </setting>
            <setting name="F8Line9" serializeAs="String">
                <value />
            </setting>
        </War3Macro.Properties.Settings>
    </userSettings>
     <appSettings>
        <add key="SendKeys" value="JournalHook"/>
    </appSettings> 
</configuration>