<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="War3Macro.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
     <appSettings>
        <add key="SendKeys" value="JournalHook"/>
    </appSettings> 
     <userSettings>
          <War3Macro.Properties.Settings>
               <setting name="F5TextBox" serializeAs="String">
                    <value />
               </setting>
               <setting name="F6TextBox" serializeAs="String">
                    <value />
               </setting>
               <setting name="F7TextBox" serializeAs="String">
                    <value />
               </setting>
               <setting name="F8TextBox" serializeAs="String">
                    <value />
               </setting>
          </War3Macro.Properties.Settings>
     </userSettings>
</configuration>